/*** Ticker Styles ****/
#ticker {
	position: relative; 
	display: block; 
	padding:35px 0 20px;
	width: 100%;
	height:186px;
	overflow:hidden; 
	background: #f4f4f4;
	background: linear-gradient(to bottom, #f4f4f4, #eeeeee);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(,#f4f4f4), color-stop(,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4, #eeeeee); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #f4f4f4, #eeeeee); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */	
}

#ticker .ipadbkg {
	position: absolute;
	left:35px;
	bottom: 0px;
	z-index: 500;
	-moz-box-shadow:0 -3px 12px 1px #A7A7A7;
	-webkit-box-shadow: 0 -3px 12px 1px #A7A7A7;
	box-shadow:0 -3px 12px 1px #A7A7A7; 
	border-radius: 10px 10px 0px 0px;
}

#ticker .ipadcontent {
	float:left;
	margin:20px 0 0 57px;
}
.ticker {
	height: 123px !important; 
	width: 100% !important;
}
#ticker-container {
	height:103px;
}

#ticker h4 {
	color:#1f619f;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 0.9em;
	margin-left:290px;
}

.tickercontent {
	display: block;
	margin:0 300px 0 290px;
}

.tickercontent h5 {
	font-family: helvetica, arial, sans-serif;
	font-size: 2.2em; font-weight: 600; 
	letter-spacing: -0.03em;
}

.tickercontent h5 span {
	color:#01afee; 
	font-weight: 100;
}

.tickercontent h5 sub {
	font-size: 0.65em; 
	font-weight: 100;
}

.tickercontent p {
	color:#333333; 
	font-size: 1em;
	letter-spacing: -0.01em;
	line-height:  1.4em;
}

.tickerbtns {
	float: right; 
	width:245px;
}
.ticker-purchase, .login .button {
	width: 90%; 
	display: block;
	padding:9px 22px ;
	font-size: 1.01em; 
	font-family: 'open_sanssemibold';
	/*font-weight:800; */
	color:#fff; 
	letter-spacing: -0.01em; 
	text-decoration: none!important; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; border-radius: 5px; border-top: 1px solid #66c2ea; border-bottom: 1px solid #1f74b6; text-align: center;
	background: #2b527b; /* Old browsers */
	background: linear-gradient(to bottom, #40b3e5 50%, #3096e3 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#40b3e5), color-stop(50%,#3096e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #40b3e5 50%, #3096e3 50%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #40b3e5 50%,#3096e3 50%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40b3e5', endColorstr='#3096e3',GradientType=0 ); /* IE6-9 */	
}
.childrows .ticker-purchase {color:#fff;}
.mdwidthbtn {width:210px;}
.ticker-learn {width: 90%; display: block; padding:9px 22px ; font-size: 1.01em; font-family: 'open_sanssemibold';font-weight:normal; color:#fff; letter-spacing: -0.01em; text-decoration: underline; webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-top: 1px solid #d2d2d2; border-bottom: 1px solid #909090; text-align: center; margin-top: 3px;
	background: #bcbcbc; /* Old browsers */
	background: linear-gradient(to bottom, #bcbcbc 50%, #b2b2b2 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#bcbcbc), color-stop(50%,#b2b2b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bcbcbc 50%, #b2b2b2 50%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #bcbcbc 50%,#b2b2b2 50%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */	
}
.item-page .ticker-purchase { width:50%;margin-right:1%;display:inline-block;}
.item-page .ticker-learn{ 
	width:49%;
	display:inline-block;
}
#ticker-pager {
	position: absolute; 
	z-index: 499; 
	top:41%; 
	right:275px;
	width:15px;
}
.tickerarrow {
	display: block;
	width:15px;
	height: 9px;
	margin-bottom: 20px;
	background: url('../../../images/ticker-arrow.png') no-repeat top right transparent;
}
#ticker-down {
	background: url('../../../images/ticker-arrow-down.png') no-repeat top right transparent;
}
	
.ticker-purchase, .ticker-learn, .lightbtn, .bkg-blue.contact-mod a, .mwdithbtn, .darkbtn { 
	font-weight:normal;
}

.slideshow-right blockquote { 
	font-weight:normal;
}

.mijoevents_box_content_cont2 #map_canvas { 
	display:none;
}